EXTERNAL_API_URL=http://localhost:8080/api/
HOME_URL=http://localhost:5173
LOCAL_URL=http://127.0.0.1:5173
DATABASE_URL=postgresql+psycopg2://localhost:5432/camel?user=user&password=password
SECRET_KEY=somerandomlygeneratedsecretkeythatshouldbereplaced
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30